﻿@model PartyMaker.Models.Entities.Dish

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DishDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DishIngredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishIngredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DishPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DishId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
