﻿@model IEnumerable<PartyMaker.Models.Entities.Dish>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DishDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DishIngredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DishPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishIngredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DishId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DishId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DishId })
        </td>
    </tr>
}

</table>
