﻿@model PartyMaker.Models.Entities.Kitchen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kitchen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KitchenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitchenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KitchenDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitchenDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KitchenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
