﻿@model PartyMaker.Models.Entities.Drink

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DrinkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrinkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrinkPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrinkPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrinkCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrinkCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrinkIngredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrinkIngredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrinkPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrinkPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DrinkId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
