﻿@model IEnumerable<PartyMaker.Models.Entities.Drink>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DrinkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrinkPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrinkCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrinkIngredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrinkPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkIngredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DrinkId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DrinkId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DrinkId })
        </td>
    </tr>
}

</table>
