﻿@model PartyMaker.Models.Entities.RepresentativeAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepresentativeAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepresentativeASType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresentativeASType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepresentativeASName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresentativeASName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepresentativeASRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresentativeASRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepresetnativeASPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresetnativeASPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RepresentativeASId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
