﻿@model IEnumerable<PartyMaker.Models.Entities.RepresentativeAS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepresentativeASType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepresentativeASName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepresentativeASRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepresetnativeASPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativeASType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativeASName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativeASRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresetnativeASPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RepresentativeASId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RepresentativeASId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RepresentativeASId })
        </td>
    </tr>
}

</table>
