﻿@model IEnumerable<PartyMaker.Models.Entities.Venue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenuePhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VenueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenuePhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VenueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VenueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VenueId })
        </td>
    </tr>
}

</table>
