﻿
@{
    ViewBag.Title = "Index";
}

<h2>AdminPanel</h2>
<div>
    <div>
        @Html.ActionLink("Home", "Index", "Home")
    </div>
    <div>
        @Html.ActionLink("Users", "Index", "Users")
    </div>
    <div>
        @Html.ActionLink("Events", "Index", "Events")
    </div>
    <div>
        @Html.ActionLink("Venues", "Index", "Venues")
    </div>
    <div>
        @Html.ActionLink("Services", "Index", "Services")
    </div>
    <div>
        @Html.ActionLink("RepresentativeAS", "Index", "RepresentativeAS")
    </div>
    <div>
        @Html.ActionLink("Kitchens", "Index", "Kitchens")
    </div>
    <div>
        @Html.ActionLink("Dishes", "Index", "Dishes")
    </div>
    <div>
        @Html.ActionLink("Drinks", "Index", "Drinks")
    </div>

</div>

